<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        ABOUT
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-text-center">

<h3> Tired of thinking what to eat? Let us decide! </h3>

<img src="assets/foodimg.jpeg">

<h4> NAK MAKAN PE? 
<p>is here to ease your mind! </p></h4>

    <div class="ion-text-left">Simply:
    <p> 1. <a href="/login">Sign in</a> into your account (or, register if you haven't!)</p>
    <p> 2. Navigate yourself to our 'Explore' tab.</p>
    <p> 3. Choose your preferred budget and your favourite type of cuisine at our 'Search' tab
  (or, psst, let our system decide one for you instead!)</p>
    <p> 4. Make your way to dine at the suggested restaurant!</p></div>

<pre>

</pre>
<ion-footer>
  <p> Disclaimer: NAK MAKAN PE? is a website that helps to narrow down
  your dining options based on your choice and past eating history.</p>
</ion-footer>

</ion-content>