<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        SIGN IN
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content text-center padding>
  <br>  <br>
  <br>
  <br>
  <br>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <ion-input class="border" placeholder="Enter email" formControlName="user_email" required></ion-input>
  <br>
  <ion-input class="border" placeholder="Enter password" formControlName="user_password" type="password" required></ion-input>
  <br>
  <ion-button padding shape="round" expand="block" type="submit" block [disabled]="loginForm.invalid">SIGN IN</ion-button>
  <p> Don't have an account yet? Register <a href="/register">here!</a></p>
</form>
</ion-content>