<ion-header>
  <ion-toolbar color="warning">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/user-profile"></ion-back-button>
  </ion-buttons>
  <ion-title>
    ANALYSIS
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>  
<br>

<p text-center>Total spending for each Type of Cuisine</p>
<div class="ion-padding"><canvas #doughnutCanvas></canvas></div>
<br><br>

<p text-center>Total spending: Asian vs Western cuisines</p>
<div class="ion-padding"><canvas #barCanvas></canvas></div>
<br><br>

<p text-center>List of Fast Food spending</p>
<div *ngFor="let h of history">
  <div  *ngIf="h.cuisine_id==100">
<ion-card>
  <ion-card-content>
    {{h.restaurant_name}}: RM{{h.food_price}}
  </ion-card-content>
</ion-card></div></div>

    
</ion-content>