<ion-header>
  <ion-toolbar color="warning">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>
    ANALYSIS
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>  

<br>
<h4 text-center>ANALYSIS OF EATING HISTORY</h4>
<br>

<div class="ion-padding"><canvas #doughnutCanvas></canvas></div>

<ion-list>
  <ion-item *ngFor="let h of history">
    {{h.cuisine_name}} — {{h.restaurant_name}}: RM {{h.food_price}}
  </ion-item>
</ion-list>


<div class="ion-padding">
  <ion-card>
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
   
      <canvas #doughnutCanvas></canvas>
</div>
    
</ion-content>