<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        EXPLORE
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-card (click)="showRestaurant(restaurant.restaurant_id, restaurant.restaurant_name,
    restaurant.restaurant_description, restaurant.restaurant_price, restaurant.restaurant_address)" 
    padding *ngFor="let restaurant of restaurants">
      <h5><b>{{restaurant.cuisine_name}}</b></h5>
      {{restaurant.restaurant_name}}
      <p text-center><img src="{{restaurant.restaurant_image}}"></p>
    </ion-card>

  </ion-content>