<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/user-profile"></ion-back-button>
      </ion-buttons>
      <ion-title>
        EDIT EATING HISTORY
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content text-center padding>
<pre></pre>

<form [formGroup]="editEatingHistory" (ngSubmit)="editHistory()" *ngFor="let h of history">
  <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime formControlName="history_date" display-format="DD/MMM/YYYY" picker-format="D MMM YYYY" placeholder="{{h.history_date}}"></ion-datetime>
  </ion-item>

  <br><br>

  <ion-label>Restaurant's name:</ion-label>
    <ion-input class="border" formControlName="restaurant_name" placeholder="{{h.restaurant_name}}"></ion-input>
    <br><br>

  
      <ion-label>Type of cuisine</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{h.cuisine_name}}" formControlName="cuisine_id">
          
            <ion-select-option value="100">Fast Food</ion-select-option>
            <ion-select-option value="101">Asian</ion-select-option>
            <ion-select-option value="102">Western</ion-select-option>
            <ion-select-option value="103">Snack</ion-select-option>
            <ion-select-option value="104">Dessert</ion-select-option>
            <ion-select-option value="105">Others</ion-select-option>
      </ion-select>
  <br>

  <ion-label>Amount of money's spent:</ion-label>
    <ion-input class="border" formControlName="food_price" placeholder="RM {{h.food_price}}"></ion-input>

  <br><br>

<ion-button padding shape="round" expand="block" color="success" type="submit">Edit</ion-button>

</form>

<ion-button padding shape="round" expand="block" (click)="deleteEatingHistory()" color="danger">Delete</ion-button>
</ion-content>
