<ion-header>
    <ion-toolbar>
      <ion-title>
        LUNCH PICKER
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!--<ion-row justify-content-center align-items-center style='height: 100%'>-->
      <ion-card>
        <img src="assets/img.jpeg">
        <ion-card-header>
          <ion-card-title>Don't know where to eat?</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Let us help you. Navigate yourself with the links below to reduce the amount of time (and stress!)
          that you face daily while deciding where to eat!
        </ion-card-content>
      </ion-card>
  
        <p>Navigate yourself with the link below!</p>
        <ion-card>
          <ion-item href="/restaurant">
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>EXPLORE</ion-label>
          </ion-item>
          <ion-item href="/login">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>LOGIN / REGISTER</ion-label>
          </ion-item>
        
          <ion-item href="/about">
            <ion-icon name="information" slot="start"></ion-icon>
            <ion-label>ABOUT</ion-label>
          </ion-item>
        </ion-card>
  
  </ion-content>