<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ADD EATING HISTORY
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content text-center>
<pre></pre>

<form [formGroup]="addEatingHistory" (ngSubmit)="addHistory()">

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime formControlName="history_date" display-format="DD/MMM/YYYY" picker-format="D MMM YYYY"></ion-datetime>
  </ion-item>

  <!--<ion-input placeholder="Date (YYYY-MM-DD)" formControlName="date"></ion-input>
   <ion-input placeholder="Type of cuisine" formControlName="cuisine_id"></ion-input> -->
  
  <ion-item>
    <ion-label>Type of cuisine</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"
    formControlName="cuisine_id">
      <ion-select-option value="100">Fast Food</ion-select-option>
      <ion-select-option value="101">Asian</ion-select-option>
      <ion-select-option value="102">Western</ion-select-option>
      <ion-select-option value="103">Snack</ion-select-option>
      <ion-select-option value="104">Dessert</ion-select-option>
      <ion-select-option value="105">Others</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button padding shape="round" expand="block" type="submit" block>Add Eating History</ion-button>

</form>

<ion-button padding shape="round" expand="block" (click)="cancelAdd()" color="danger">Cancel</ion-button>

<!-- 
  https://ionicframework.com/docs/native/date-picker
  https://www.youtube.com/watch?v=hiirVXzSCpo
 -->


</ion-content>