<ion-header>
    <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ADD EATING HISTORY
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content text-center padding>
<pre></pre>

<form [formGroup]="addEatingHistory" (ngSubmit)="addHistory()" padding>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime formControlName="history_date" display-format="DD/MMM/YYYY" picker-format="D MMM YYYY" placeholder="Select date"></ion-datetime>
  </ion-item>
  <ng-container *ngFor="let validation of validation_messages.history_date">
      <div *ngIf="addEatingHistory.get('history_date').hasError(validation.type) && (addEatingHistory.get('history_date').dirty || addEatingHistory.get('history_date').touched)">
        {{ validation.message }}
      </div>
      <br>
    </ng-container>
    <br>

  <!--<ion-input placeholder="Date (YYYY-MM-DD)" formControlName="date"></ion-input>
   <ion-input placeholder="Type of cuisine" formControlName="cuisine_id"></ion-input> -->
  
  
    <ion-label>Restaurant's name:</ion-label>
    <ion-input class="border" formControlName="restaurant_name"></ion-input>
    <br><br>

  
    <ion-label>Type of cuisine</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"
    formControlName="cuisine_id">
      <ion-select-option value="100">Fast Food</ion-select-option>
      <ion-select-option value="101">Asian</ion-select-option>
      <ion-select-option value="102">Western</ion-select-option>
      <ion-select-option value="103">Snack</ion-select-option>
      <ion-select-option value="104">Dessert</ion-select-option>
      <ion-select-option value="105">Others</ion-select-option>
    </ion-select>
  
  <ng-container *ngFor="let validation of validation_messages.cuisine_id">
      <div *ngIf="addEatingHistory.get('cuisine_id').hasError(validation.type) && (addEatingHistory.get('cuisine_id').dirty || addEatingHistory.get('cuisine_id').touched)">
        {{ validation.message }}
      </div>
      <br>
    </ng-container>
    
    
    <ion-label>Amount of money's spent:</ion-label>
    <ion-input class="border" formControlName="food_price"></ion-input>
    
  <br><br>
  <ion-button padding [disabled]="!addEatingHistory.valid" shape="round" expand="block" type="submit" block>Add Eating History</ion-button>

</form>

<ion-button padding shape="round" expand="block" (click)="cancelAdd()" color="danger">Cancel</ion-button>


</ion-content>
<ion-footer>Disclaimer: Your eating history is recorded for the purpose of making 'Decide for me!' option in 'Search' 
    page become more reliable and accurate.
</ion-footer>
