<ion-header>
    <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MY PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  

  <ion-card *ngFor="let user of users">
      <div text-right><ion-button color="danger" shape="round" size="small" (click)="logout()">Sign Out</ion-button></div>
      <ion-card-header>

        <ion-card-title>
            <ion-avatar>
                <img src="assets/usericon.png">
              </ion-avatar>  
        </ion-card-title>
        
        <br>
        <div text-right><ion-button shape="round" size="small" fill="outline" (click)="editProfile()">Edit Profile</ion-button></div>
      </ion-card-header>
      
      <ion-card-content text-center> 
        <ion-icon name="person"></ion-icon>: 
        <p>{{user.user_name}}</p>
        <ion-icon name="mail"></ion-icon>: 
        <p>{{user.user_email}}</p>
        <br>
      </ion-card-content>


  </ion-card>
  <br>
  <h4 text-center>Eating history:</h4>
  <div text-right><ion-button size="small" (click)="addEatingHistory()">Add?</ion-button></div>
  <br>
  <div *ngIf="history!=0" text-center><ion-button fill="outline" (click)="makeAnalysis()">Analysis</ion-button></div>
  <br>

  <ion-list>
    <ion-item *ngFor="let h of history">
      
      {{h.history_date}}: {{h.restaurant_name}} ({{h.cuisine_name}})
        <ion-buttons slot="start">
          <ion-button shape="round" color="success" size="small" fill="outline" (click)="editEatingHistory(h.id)">Edit</ion-button>
        </ion-buttons>
      
      
    </ion-item>
  </ion-list>
      
</ion-content>