<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon name="log-out" color="danger" size="small" (click)="logout()"></ion-icon>
      </ion-buttons>
    <ion-title>
      MY PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  
  
  <ion-card *ngFor="let user of users">
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <br><br>
        <div text-center><ion-icon name="person"></ion-icon></div>
        <!-- <img src="assets/userprofile.jpg"> -->
        <div text-right><ion-button shape="round" size="small" fill="outline" (click)="editProfile()">Edit Profile</ion-button></div>
      </ion-card-header>
      
      <ion-card-content text-center> 
        <p>{{user.user_name}}</p>
        <p>{{user.user_email}}</p>
        <br><br>
      </ion-card-content>
  </ion-card>

  <ion-card text-left> Eating history: (Below are only example)
      <div text-right><ion-button size="small">Add?</ion-button></div>
      <p>18th July 2019: Asian</p>
      <p>18th July 2019: Snack</p>
  </ion-card>
      
</ion-content>