<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{restaurant_name}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-title>{{restaurant_name}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <p text-center>{{restaurant_address}}</p>
          <p text-center>Estimated budget per person: RM {{restaurant_price}}.00</p>
          <br><br>
          <p>{{restaurant_description}}</p>
        </ion-card-content>  
    </ion-card>

  </ion-content>